* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

section {
  padding-bottom: 80px;
  padding-top: 80px;
}

.header-section {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

h3 {
  text-align: center;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.25px;
  color: #4D4F62;

}

h3 span {
  font-weight: 600;
}

.header-section p {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1px;

  color: #4D4F62;

  mix-blend-mode: normal;
  opacity: 0.5;

}

.cards {
  display: flex;
  align-items: center;
  /* background-color: green; */
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  column-gap: 30px;
}

.cards>div {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

article {
  max-width: 350px;
  min-height: 250px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  /* border: 1px solid black; */
  padding: 32px;
  position: relative;
  /* border-top-width: 4px;
  border-top-style: solid;*/
  overflow: hidden;
}
article::before {
  content: "";
  height: 4px;
  width: 350px;
  background-color: #4D4F62;
  position: absolute;
  top: 0;
  left: 0;
}
article h4 {
  font-size: 20px;
  line-height: 30px;
  color: #4D4F62;
  font-weight: 600;
  margin-bottom: 6px;
}

article p {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #4D4F62;
  mix-blend-mode: normal;
  opacity: 0.5;
}
article img {
  position: absolute;
  /* top: 0;
  left: 0; */
  right: 0;
  bottom: 0;
  transform: translate(-50%,-50%);
}
.first {
/* border-color: #44D3D2; */
}
.second {
/* border-color: #EA5454; */
}
.third {
/* border-color: #FCAE4A; */
}
.fourth {
  /* border-color: #549EF2; */
}
.first::before {
background-color: #44D3D2;
}
.second::before {
background-color: #EA5454;
}
.third::before {
background-color: #FCAE4A;
}
.fourth::before {
  background-color: #549EF2;
}